
.footer_container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.joinus_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.quote_footer {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: bold;
}

.branding_footer_para {
    font-size: 17px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: grey;
}

.details_container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 8rem;
}

.branding_footer_para_dark {
    font-size: 17px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: black;
    text-decoration: none;
}
.footer_connect{
    text-decoration: none;
    color :black;
    cursor: pointer;
}
.footer_connect:hover{
    text-decoration: underline;
}

.icon_link{
    margin-left:1rem;
}
.icon_link:hover{
    color: blue;
    cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .footer_container {
        align-items: center; /* Center items on smaller screens */
    }
    
    .joinus_container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
    }
    
    .quote_footer {
        font-size: 1.5rem; /* Reduce font size */
        text-align: center; /* Center text */
    }
    
    .branding_footer_para,
    .branding_footer_para_dark {
        font-size: 15px; /* Slightly reduce font size */
        text-align: center; /* Center align text */
        line-height: 20px; /* Adjust line height */
    }
    
    .details_container {
        width: 100%; /* Full width on smaller screens */
        flex-direction:row; /* Stack items vertically */
        align-items: flex-start;
        justify-content: space-around;
        margin-left:2rem;
        padding:0px;
        /* Center align items */
    }
}

@media (max-width: 480px) {
    .quote_footer {
        font-size: 1.2rem; 
        
        /* Further reduce font size for very small screens */
    }
    .awards_heading{
        font-size:1.5rem;
    }
    
    .branding_footer_para,
    .branding_footer_para_dark {
        font-size: 14px; /* Further reduce font size */
    }
}
